
  <div class="container">
  <h1 class="flow-text center-align">Login</h1>
  <div class="row">
    <form id="form" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input  id="User" type="text" class="validate" required>
          <label for="User">Usuario:</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" required>
          <label for="password">Contraseña</label>
        </div>
      </div>
    </form>
    <div class="center-align">

      <button class="btn pulse" type="submit" name="action" routerLink="/home">Inicia sesión
      </button>
    </div>
  </div>
</div>

